.div {
    height          : 250px;
    width           : 250px;
    background-color: rgb(19, 249, 249);
    margin-left     : 200px;
    margin-top: -40px;
}

.title {
    margin-bottom: 10px;
    text-align   : center;
    width        : 205px;
    border-radius: 10px;
    margin-top: 10px;
    color        : green;
    border       : solid black 2px;
    background-color: aquamarine;
}

input[type="button"] {
    background-color: rgb(128, 236, 255);
    color           : black;
    border          : solid black 2px;
    width           : 100%
}
input:hover{
    background-color: rgb(46, 143, 253);
    color           : black;
    border          : solid black 2px;
    width           : 100%
}

input[type="text"] {
    background-color: rgb(255, 255, 255);
    border          : solid black 2px;
    width           : 100%
}

.maindiv {
    height : auto;
    margin : auto;
    display: flex;
    background-color: blueviolet;
}

.tablediv{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}