.maindiv{
    height: 594px;
    width: 100%;
    background-color: aqua;
}
.schend{
    height: 250px;
    width: 100%;
    background-color: beige;
}
.thrddiv{
    height: 250px;
    width: 100%;
    background-color: blueviolet;
}